$green: #063509;
$hover: #677a6c;
$light: #dfebe2;

* {
	padding: 0;
	margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 160px;
    background-color: $green;
    font-family: 'Noto Sans JP', sans-serif;
    // background-image: url(../images/Screenshot\ 2023-10-20\ 222252.png);
    // background-repeat: no-repeat;
}
a {
    text-decoration: none;
    color: black;
    display: block;
    &:hover {
        color: $hover;
    }
}
h1 {
    color: $light;
    font-family: 'Courgette', cursive;
}
h3 {
    margin-bottom: 5px;
}
.logo {
    display: flex;
    height: 50px;
    font-size: 1.5em;
	align-items: center;
    column-gap: 15px;
	margin-left: 20px;
}
/* Top Half */
.top--half {
    display: grid;
  grid-template-rows: 2fr 1fr 3fr;
  align-items: center;
  margin: 16px;
  background: url("images/Tree.svg") no-repeat center/100%;
  width: 100%;
  height: auto;
  z-index: 10;
	p {
		color:#dfebe2;
	}
}
.top--half h1 {
	align-self: end;
}

.top__img {
	width: 50px;
	height: 50px;
	background: black;
	justify-self: right;
}

.top__img p {
	color: white;
}

/* Bottom Half */
.bottom--half {
	display: flex;
}

.bottom--half iframe {
	width: 80%;
	height: 80%;
	margin: auto;
	padding: 20px;
}

/* Footer */
$hover: #677a6c;
$light: #dfebe2;

a {
	text-decoration: none;
	color: black;
	display: block;

	&:hover {
		color: $hover;
	}
}

h1 {
	color: $yellow;
	font-family: 'Handlee', cursive;
}

h3 {
	margin-bottom: 5px;
}

/* Footer */
footer {
	background-color: $green;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}

footer .card {
	background: $light;
	width: 70%;
	border-radius: 8px;
	padding: 20px;
	margin: 10px 0;
}
#leaf-rain {
	background: url("images/leaf.svg"), url("images/leaf.svg"), url("images/leaf.svg");
	animation: leaf-rain 2000s linear infinite;
}

@keyframes leaf-rain {
	0% {
		background-position: 0 0, 0 0, 0 0;
	}
	100% {
		background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
	}
}

@media (prefers-reduced-motion) {
	#leaf-rain {
		background: url("images/leaf.svg"), url("images/leaf.svg"), url("images/leaf.svg");
		animation: leaf-rain 5000s linear infinite;
	}
}

// _media-query.scss
@media screen and (max-width: 1000px) {
	body {
		display: none;
		content: 'Please open on a larger view';
	}
}